@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700;800&display=swap");

* {
  font-family: "Poppins", sans-serif;
}

body {
  margin: 0;
  padding: 0;
}

header {
  margin: 0;
  padding: 0;
}

nav {
  background-color: #886750;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.logo {
  width: 100%;
  justify-content: center;
  display: flex;
  margin-top: 0.5rem;
}

.logo img {
  max-width: 25%;
  height: auto;
}

nav ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style: none;
}

nav ul li {
  padding: 0.5rem;
}

nav ul a {
  text-decoration: none;
  color: #ffffff;
  font-size: 1.1rem;
}

nav ul a:hover {
  background-color: #ffffff;
  color: #886750;
  padding: 0.5rem;
  border-radius: 0.5rem;
}

.buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.buttons a {
  background-color: #e1d9ce;
  text-decoration: none;
  margin: 0.5rem;
  padding: 0.5rem;
  font-size: 0.9rem;
  color: #886750;
  border-radius: 0.5rem;
}

.buttons a:hover {
  background-color: #ffffff;
  color: #886750;
}
main {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
  align-items: center;
  height: 60vh;
}

.content {
  width: 90%;
}

.content h2 {
  display: flex;
  justify-content: center;
  width: 100%;
}

.content .persons {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.content .person ul {
  list-style: none;
}

.content .person ul li {
  width: 100%;
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 6fr;
  color: rgba(41, 32, 33, 0.6);
}

footer {
  background-color: #886750;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

footer ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style: none;
}

footer ul a,
footer h5 {
  text-decoration: none;
  color: #ffffff;
  font-size: 1.1rem;
}

footer a i {
  color: #ffffff;
  padding: 1rem;
}

@media (min-width: 768px) {
  nav ul {
    display: flex;
    flex-direction: row;
    margin: 0;
    padding: 0;
    list-style: none;
  }

  nav ul li {
    display: flex;
    flex-direction: row;
    margin: 0.5rem;
    padding: 0.5rem;
    list-style: none;
  }

  .buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 3rem;
  }

  footer ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0;
    padding: 0;
    list-style: none;
  }

  footer a i {
    color: #ffffff;
    padding: 1rem;
    font-size: 1.6rem;
  }
}

@media (min-width: 1024px) {
  footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  footer .logo {
    display: flex;
    width: 30%;
    justify-content: center;
    margin-top: 0.5rem;
  }

  .informationSocialNetworks {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 50%;
  }

  footer .logo img {
    max-width: 30%;
  }
}

@media (min-width: 1200px) {
  nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 1rem;
    padding-bottom: 1rem;
  }

  nav .logo {
    width: 20%;
  }

  .buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0rem;
  }

  .buttons a:hover {
    background-color: #ffffff;
    color: #886750;
    transform: scale(1);
  }

  main {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 100px - 180px);
  }
}
