@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700;800&display=swap");

* {
  font-family: "Poppins", sans-serif;
}

body {
  margin: 0;
  padding: 0;
}

header {
  margin: 0;
  padding: 0;
}

nav {
  background-color: #886750;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.logo {
  width: 100%;
  justify-content: center;
  display: flex;
  margin-top: 0.5rem;
}

.logo img {
  max-width: 25%;
  height: auto;
}

nav ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style: none;
}

nav ul li {
  padding: 0.5rem;
}

nav ul a {
  text-decoration: none;
  color: #ffffff;
  font-size: 1.1rem;
}

nav ul a:hover {
  background-color: #ffffff;
  color: #886750;
  padding: 0.5rem;
  border-radius: 0.5rem;
}

.buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.buttons a {
  background-color: #e1d9ce;
  text-decoration: none;
  margin: 0.5rem;
  padding: 0.5rem;
  font-size: 0.9rem;
  color: #886750;
  border-radius: 0.5rem;
}

.buttons a:hover {
  background-color: #ffffff;
  color: #886750;
}

.coverImage img {
  max-width: 100%;
  height: auto;
}

main {
  display: flex;
  flex-direction: column;
}

main {
  padding: 1rem;
}

.basicInformation {
  border-bottom: 1px solid rgb(41, 32, 33, 0.1);
  display: flex;
  flex-wrap: wrap;
}

.products {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.products ul {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  margin: 0;
}

.products ul li {
  display: flex;
  width: 100%;
  justify-content: center;
  border: 1px solid rgb(41, 32, 33, 0.1);
  margin-bottom: 0.5rem;
  border-radius: 0.5rem;
  background-color: #e1d9ce;
}

.productCard {
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr;
  width: 100%;
}

.productCard img {
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
  max-width: 100%;
  height: 100%;
}

.productCard .info {
  margin: auto auto;
  width: 90%;
}

footer {
  background-color: #886750;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

footer ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style: none;
}

footer ul a,
footer h5 {
  text-decoration: none;
  color: #ffffff;
  font-size: 1.1rem;
}

footer a i {
  color: #ffffff;
  padding: 1rem;
}

@media (min-width: 480px) {
  .productCard {
    display: grid;
    grid-template-rows: 3fr 1fr;
    gap: 10px;
  }
}

@media (min-width: 768px) {
  nav ul {
    display: flex;
    flex-direction: row;
    margin: 0;
    padding: 0;
    list-style: none;
  }

  nav ul li {
    display: flex;
    flex-direction: row;
    margin: 0.5rem;
    padding: 0.5rem;
    list-style: none;
  }

  .buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 3rem;
  }

  .products ul {
    justify-content: space-around;
  }

  .products ul li {
    width: 40%;
  }

  .productCard {
    display: grid;
    grid-template-rows: 1fr 1fr;
    gap: 10px;
  }

  footer ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0;
    padding: 0;
    list-style: none;
  }

  footer a i {
    color: #ffffff;
    padding: 1rem;
    font-size: 1.6rem;
  }
}

@media (min-width: 1024px) {
  .productCard {
    display: grid;
    grid-template-rows: 2fr 1fr;
    gap: 10px;
  }

  footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  footer .logo {
    display: flex;
    width: 30%;
    justify-content: center;
    margin-top: 0.5rem;
  }

  .informationSocialNetworks {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 50%;
  }

  footer .logo img {
    max-width: 30%;
  }
}

@media (min-width: 1200px) {
  nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 1rem;
    padding-bottom: 1rem;
  }

  nav .logo {
    width: 20%;
  }

  .buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0rem;
  }

  .buttons a:hover {
    background-color: #ffffff;
    color: #886750;
    transform: scale(1);
  }
}
